.share-image-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: rgb(248, 119, 119) 4px 4px 20px;
    background-color: rgb(8, 8, 8);
    color: rgb(218, 208, 208);
    img {
        width: 100%;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        font-weight: 300;
        font-size: 16px;
    }

}

.click {
    background-color: rgba(rgb(245, 7, 7), 0.95);
    color: darkred;
    button {
    box-shadow: rgb(228, 23, 23) 3px 3px 7px;
    color: darkred;
    &:active {
        box-shadow: rgb(26, 25, 25) 0 0 5px;
    }
    }
}
